body {
  background-color: grey;
}


/* ТЕКСТОВЫЕ СТИЛИ */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-nav-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
}

.active .main-nav-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #766357;
}

.features-description,
.reasons-description,
.reasons-number,
.hotel-type,
.hotel-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.greeting-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.reservation-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

.reasons-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
}

.greeting-title,
.hotel-title,
.second-nav-description,
.search-tag,
.reservation-search,
.search {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
}

.features-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
}

.reasons-main,
.reasons-main
.reasons-name,
.reasons-main
.reasons-number,
.reasons-main
.reasons-description,
.reservation-search,
.search {
  color: white;
}

.reservation-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
}

.form-heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
}

.map {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
}

.info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
}

.second-nav-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.sort-nav-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}

.active .sort-nav-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #81b3d2;
}

.btn-info, .btn-action {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
}

.rating {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #666666;
}

.footer-copyright-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
}


/* СЕТКИ */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav {
  float: left;
  width: 1130px;
  padding-left: 70px;
  min-height: 56px;
  background-color: white;
}

.main-nav-item {
  display: inline-block;
  vertical-align: top;
}

.logo {
  position: absolute;
}

.background-image {
  padding-top: 80px;
  padding-bottom:30px;
  width: 458px;
  margin-top: 76px;
  min-height: 352px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.greeting {
  width: 500px;
  padding-top:50px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.first-reasons-item {
  float: left;
  width: 400px;
  min-height: 255px;
  background-color: #81b3d2;
  text-align: center;
}

.first-reasons-img-block {
  float: right;
  width: 800px;
  min-height: 255px;
}

.advantages {
  background-color: #eeeeee;
}

.features-item {
  float: left;
  width: 306px;
  min-height: 300px;
  margin-right: 140px;
  background-color: white;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.reasons-main .second-reasons-item {
  float: right;
  width: 400px;
  min-height: 255px;
  background-color: #81b3d2;
  text-align: center;
}

.second-reasons-img-block {
  float: left;
  width: 800px;
  min-height: 255px;
}

.reasons-item {
  float: left;
  width: 306px;
  min-height: 300px;
  margin-right: 140px;
  text-align: center;
}

.reasons-item:last-child {
  margin-right: 0;
}

.reservation {
  width: 600px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.reservation-description {
  margin-bottom: 60px;

}

.reservation-search {
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 135px;
  padding-right: 135px;
}

.form-description {
  margin-top: 0;
  margin-bottom:60px;
  margin-right: auto;
  margin-left: auto;
  width: 560px;
  height: 395px;
  text-align: center;
  background-color: white;
}
.search {
  background-color:#81b3d2;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 190px;
  padding-right: 190px;
}
.main-footer {
  min-height:120px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
}

.footer-search {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  min-height: 90px;
  text-align: center;
}

.footer-social {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float:right;
  width: 180px;
  min-height: 90px;
}
