body {
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-nav {
  width: 1200px;
  background-color: #ffffff;
}

.main-nav-list {
  position:relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-item .main-nav-item-link {
  text-align: center;
}

.active .main-nav-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #766357;
}

.main-nav-item {
  display: inline-block;
  vertical-align: top;
  width: 240px;
}

.main-nav-item:nth-child(2) {
  margin-right: 240px;
}

.main-nav-item-link {
  display: block;
  padding: 15px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*  ДЛЯ ВНЕШНЕЙ СТРАНИЦЫ */

.background-image-text {
  width: 458px;
  min-height: 352px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 22px;
}

.background-section {
  background-image: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  padding-top: 72px;
  background-size: contain;
  width: 100%;
}

.greeting {
  width: 500px;
  padding-top: 40px;
  margin-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.greeting-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  padding-top:10px;
}
.greeting-title,
.hotel-title,
.second-nav-description,
.search-tag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.features-description,
.reasons-description,
.reasons-number,
.hotel-type,
.hotel-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}


.reasons-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.reasons-main,
.reasons-main .reasons-name,
.reasons-main .reasons-number,
.reasons-main .reasons-description {
  color: #ffffff;
}

.first-reasons-item {
  float: left;
  width: 400px;
  min-height: 255px;
  background-color: #81b3d2;
  text-align: center;
}

.first-reasons-img-block {
  float: right;
  width: 800px;
  min-height: 255px;
  font-size: 0;
}

.advantages {
  background-color: #eeeeee;
}

.features-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.features-item {
  float: left;
  width: 400px;
  min-height: 330px;
  background-color: #ffffff;
  text-align: center;
}

.reasons-main .second-reasons-item {
  float: right;
  width: 400px;
  min-height: 255px;
  background-color: #81b3d2;
  text-align: center;
}

.second-reasons-img-block {
  float: left;
  width: 800px;
  min-height: 255px;
  font-size: 0;
}

.reasons-item {
  float: left;
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.reservation {
  width: 600px;
  margin-top: 55px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.reservation-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}


.reservation-description {
  margin-bottom: 80px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

.reservation-search {
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 135px;
  padding-right: 135px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.form-heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.form-description {
  margin-top: 0;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 560px;
  height: 395px;
  text-align: center;
  background-color: #ffffff;
}
.search-btn {
  margin-top:190px;
}
.search-btn-link {
  background-color: #81b3d2;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 195px;
  padding-right: 195px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.map {
  width: 1200px;
  height: 590px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer {
  margin-top: -120px;
  padding-bottom:25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-search {
  float: left;
  background-color: #ffffff;
  text-align: center;
  margin-left: 130px;
  margin-top: 35px;
}

.footer-social {
  float: left;
  background-color: #ffffff;
  text-align: center;
  margin-top: 35px;
}

.footer-copyright {
  float: left;
  background-color: #ffffff;
  text-align: center;
  margin-right: 225px;
  margin-top: 35px;
}

.footer-copyright-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}


/*ДЛЯ ВНУТРЕННЕЙ СТРАНИЦЫ*/

.info {
  background-image: url("../img/filter-background.jpg");
  min-height: 220px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.infrastructure {
  float: left;
  margin-top: 20px;
  margin-left: 72px;
  width: 240px;
}

.living {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  width: 240px;
}

.price {
  float: right;
  margin-top: 20px;
  margin-right: 70px;
  width: 328px;
}

.main {
  display: flex;
}


.second-nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  margin-right: 70px;
  margin-left: 70px;
  padding-bottom:10px;
}

.second-nav-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.second-nav-sorting {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 40px;
  margin-top: 25px;
}

.sort-nav-item {
  display: inline-block;
  vertical-align: top;
}

.sort-nav-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}

.active .sort-nav-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #81b3d2;
}

.hotel {
  min-height: 150px;
  margin-right: 73px;
  margin-left: 70px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image-block {
  float: left;
  width: 135px;
  height: 90px;
  margin-top: 35px;
  margin-right: 25px;
}

.hotel-details {
  margin-top: 20px;
  float: left;
  width: 225px;
}

.hotel-rating {
  float: right;
  width: 111px;
}

.hotel-details-about {
  display: inline-block;
  vertical-align: top;
}

.hotel-details-buy {
  display: inline-block;
  vertical-align: top;
}

.btn-info, .btn-action {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.rating {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #666666;
}

.main-footer-opacity-none {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  padding-bottom:25px;
  background-color: #ffffff;
}
